{% extends "../base.html" %}
{% load staticfiles %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<!--SLIDER-->
<div class="container">
    <div class="row">
        <div class="popular-heading">
            <h3><span><i class="fas fa-shopping-cart"></i> নতুন প্রকাশিত বই</span> </h3>
        </div>
        <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    {% for product in products %}
                    <div class="owl-item">
                        <div class="card individual-product">
                            <div class="card-img-top">
                                <div class="card-hoverable">
                                    <div class="card-image">
                                        <img class="img-fluid" src="{{product.image.url}}">

                                        </div>
                                        <div class="overlay">
                                            <div class="text">Hello World</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="product-title">
                                        <span class="card-title"><a href="{%url 'products:details' slug=product.slug%}">{{product.title}}</a></span>
                                    </div>
                                    <div class="product_writer"><span></span><a href="#">{{product.writer.name}}</a></div>
                                    <div class="product-price">
                                        <span><del>{{product.previous_price}} <span>৳</span></del></span><span>{{product.price}} <span>৳</span></span>
                                    </div>
                                    <button type="button" class="btn btn-outline-danger">ক্রয় করুন</button>
                                </div>
                            </div>
                        </div>{% endfor %}
                    </div>
                </div>
            </div>
            <div class="view-all-book"><button>সকল নতুন প্রকাশিত বই</button></div>
        </div>
    </div>


    <!--  -->

<div class="container">
    <div class="row">
        <div class="popular-heading">
            <h3><span><i class="fas fa-shopping-cart"></i> নতুন প্রকাশিত বই</span> </h3>
        </div>
        <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    {% for product in products %}
                    <div class="owl-item">
                        <div class="card individual-product">
                            <div class="card-img-top">
                                <div class="card-hoverable">
                                    <div class="card-image">
                                        <img class="img-fluid" src="{{product.image.url}}">

                                        </div>
                                        <div class="overlay">
                                            <div class="text">Hello World</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="product-title">
                                        <span class="card-title"><a href="{%url 'products:details' slug=product.slug%}">{{product.title}}</a></span>
                                    </div>
                                    <div class="product_writer"><span></span><a href="#">{{product.writer.name}}</a></div>
                                    <div class="product-price">
                                        <span><del>{{product.previous_price}} <span>৳</span></del></span><span>{{product.price}} <span>৳</span></span>
                                    </div>
                                    <button type="button" class="btn btn-outline-danger">ক্রয় করুন</button>
                                </div>
                            </div>
                        </div>{% endfor %}
                    </div>
                </div>
            </div>
            <div class="view-all-book"><button>সকল নতুন প্রকাশিত বই</button></div>
        </div>
    </div>
    {% endblock content %}